body {
  text-align: center;
  color: white;
  background-color: #f7cac9;
  font-family: 'Sofia Pro';
}

.details {
  position: absolute;
  width: 293px;
  height: 377px;
  left: 1227px;
  top: 494px;
  background: #034F84;
  border-radius: 5px;
}

.contact {
  position: absolute;
  width: 514px;
  height: 120px;
  left: 658px;
  top: 175px;
  background: #F7786B;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  position: absolute;
  width: 139px;
  height: 50px;
  left: 653px;
  top: 234px;
  color: white;
  font-size: 36px;
  line-height: 42px;
}

.formContainer {
  position: absolute;
  width: 793px;
  height: 556px;
  left: 150px;
  top: 408px;
  background-color: #92a8d1;
  border-radius: 5px;
}

input {
  background-color: white;
  color: black;
  border-radius: 5px;
  height: 25px;
}

.infoInput {
  position: absolute;
  left: 100px;
  top: 75px;
}

.sendBtn {
  background: #034F84;
  border-radius: 5px;
  height: 35px;
  width: 60px;
  position: absolute;
  top: 300px;
  left: 120px;
}

.sendBtn:hover {
  background: #F7786B;
}

.message {
  position: absolute;
  left: 420px;
  top: 80px;
} 

.messageInput {
  position: absolute;
  height: 200px;
  width: 250px;
  left: 20px;
  text-align: center;
}

.menu {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

.menu:hover {
  background:rgba(0,0,0,0.3);
}

.header {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 25px;
  left: 10px;
  top: 20px;
}

.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background: #034F84;
  }
  
  .flex-nav li {
  width: 85px;
  flex: 2;
  }

  .showMessage {
    position: absolute;
    left: 450px;
    top: 10px;
  }

  @media screen and (max-width: 375px) {
    .header{
      display: none
    }
    .details {
      position: absolute;
      width: 186px;
      height: 380px;
      left: 87px;
      top: 860px;
    }
    .contact {
      position: absolute;
      width: 223px;
      height: 71px;
      left: 76px;
      top: 65px;
    }
    .formContainer {
      position: absolute;
      width: 304px;
      height: 600px;
      left: 35px;
      top: 163px;
    }
    .infoInput {
      position: absolute;
      width: 88px;
      height: 26px;
      left: 60px;
      top: -10px;
    }
    .messageInput {
      position: absolute;
      width: 172px;
      height: 100px;
      left: 40px;
      top: 50px;
    }
    .message {
      position: absolute;
      width: 172px;
      height: 55px;
      left: 20px;
      top: 330px;
    }
    .sendBtn {
      position: absolute;
      width: 76px;
      height: 35px;
      left: 90px;
      top: 180px;
    }
    .showMessage {
      position: absolute;
      width: 183px;
      height: 42px;
      left: 40px;
      top: 200px;
    }
  }